{# purpose of this template: general base layout #}
{% block header %}
{% endblock %}

{% block appTitle %}
    {{ moduleHeader('user', '', '', false, true, false, true) }}
{% endblock %}

{% block titleArea %}
    <h2>{% block title %}{% endblock %}</h2>
{% endblock %}
{{ pageSetVar('title', block('pageTitle')|default(block('title'))) }}

{{ showflashes() }}

{% block content %}{% endblock %}

{% block footer %}
    <p class="text-center">
        Powered by <a href="https://modulestudio.de" title="Get the MOST out of Zikula!">ModuleStudio 1.4.0</a>
    </p>
    {{ pageAddAsset('stylesheet', zasset('@ZikulaMultiHookModule:css/custom.css'), 120) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaMultiHookModule:js/ZikulaMultiHookModule.js')) }}
{% endblock %}
