{# purpose of this template: module configuration page #}
{% extends '@ZikulaMultiHookModule/adminBase.html.twig' %}
{% trans_default_domain 'config' %}
{% block title 'Settings'|trans %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="zikulamultihookmodule-config">
        {% form_theme form with [
            '@ZikulaMultiHookModule/Form/bootstrap_4.html.twig',
            '@ZikulaFormExtension/Form/form_div_layout.html.twig'
        ] only %}
        {{ form_start(form) }}
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs" role="tablist">
                {% set tabTitle = 'General settings'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link active">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Abbreviations and acronyms'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars2Tab" href="#tab2" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Automatic links'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars3Tab" href="#tab3" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Censor'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars4Tab" href="#tab4" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Needles'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars5Tab" href="#tab5" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'List views'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars6Tab" href="#tab6" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Moderation'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="vars7Tab" href="#tab7" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = 'Workflows'|trans %}
                <li class="nav-item" role="presentation">
                    <a id="workflowsTab" href="#tabWorkflows" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
            </ul>

            {{ form_errors(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="tab1" aria-labelledby="vars1Tab">
                    {% set tabTitle = 'General settings'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans %}Here you can manage all basic settings for this application.{% endtrans %}</p>
                    
                        {{ form_row(form.showEditLink) }}
                        {{ form_row(form.replaceOnlyFirstInstanceOfItems) }}
                        {{ form_row(form.applyReplacementsToCodeTags) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="vars2Tab">
                    {% set tabTitle = 'Abbreviations and acronyms'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        {{ form_row(form.replaceAbbreviations) }}
                        {{ form_row(form.replaceAcronyms) }}
                        {{ form_row(form.replaceAbbreviationsWithLongText) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab3" aria-labelledby="vars3Tab">
                    {% set tabTitle = 'Automatic links'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        {{ form_row(form.replaceLinks) }}
                        {{ form_row(form.replaceLinksWithTitle) }}
                        {{ form_row(form.cssClassForExternalLinks) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab4" aria-labelledby="vars4Tab">
                    {% set tabTitle = 'Censor'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        {{ form_row(form.replaceCensoredWords) }}
                        {{ form_row(form.replaceCensoredWordsWhenTheyArePartOfOtherWords) }}
                        {{ form_row(form.doNotCensorFirstAndLastLetterInWordsWithMoreThanTwoChars) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab5" aria-labelledby="vars5Tab">
                    {% set tabTitle = 'Needles'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        {{ form_row(form.replaceNeedles) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab6" aria-labelledby="vars6Tab">
                    {% set tabTitle = 'List views'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans from 'config' %}Here you can configure parameters for list views.{% endtrans %}</p>
                        
                        {{ form_row(form.entryEntriesPerPage) }}
                        {{ form_row(form.showOnlyOwnEntries) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab7" aria-labelledby="vars7Tab">
                    {% set tabTitle = 'Moderation'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{% trans from 'config' %}Here you can define moderation-related settings.{% endtrans %}</p>
                        
                        {{ form_row(form.allowModerationSpecificCreatorForEntry) }}
                        {{ form_row(form.allowModerationSpecificCreationDateForEntry) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabWorkflows" aria-labelledby="workflowsTab">
                    {% set tabTitle = 'Workflows'|trans %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        <p class="alert alert-info">{% trans %}Here you can inspect and amend the existing workflows.{% endtrans %}</p>
                
                        <h4>{% trans %}Entries{% endtrans %}</h4>
                        <p><a href="{{ path('zikula_workflow_editor_index', {workflow: 'zikulamultihookmodule_none'}) }}" title="{{ 'Edit workflow for entries'|trans|e('html_attr') }}" target="_blank"><i class="fas fa-cubes"></i> {% trans %}Edit entries workflow{% endtrans %}</a>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group form-buttons row">
            <div class="col-md-9 offset-md-3">
                {{ form_widget(form.save) }}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaMultiHookModule:js/ZikulaMultiHookModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaMultiHookModule:js/ZikulaMultiHookModule.EditFunctions.js'), 99) }}
    <div id="formEditingDefinition" data-mode="edit" data-entityid="1"></div>
{% endblock %}
