{# purpose of this template: module configuration page #}
{% extends 'ZikulaMultiHookModule::adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="zikulamultihookmodule-config">
        {% form_theme form with [
            '@ZikulaMultiHookModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs">
                {% set tabTitle = __('General settings') %}
                <li role="presentation" class="active">
                    <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = __('Abbreviations and acronyms') %}
                <li role="presentation">
                    <a id="vars2Tab" href="#tab2" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = __('Automatic links') %}
                <li role="presentation">
                    <a id="vars3Tab" href="#tab3" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = __('Censor') %}
                <li role="presentation">
                    <a id="vars4Tab" href="#tab4" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = __('Needles') %}
                <li role="presentation">
                    <a id="vars5Tab" href="#tab5" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = __('List views') %}
                <li role="presentation">
                    <a id="vars6Tab" href="#tab6" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = __('Moderation') %}
                <li role="presentation">
                    <a id="vars7Tab" href="#tab7" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
                </li>
                {#% set tabTitle = __('Workflows') %}
                <li role="presentation">
                    <a id="workflowsTab" href="#tabWorkflows" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
                </li>#}
                {% set tabTitle = __('Available entry providers') %}
                <li role="presentation">
                    <a id="entryProvidersTab" href="#tabEntryProviders" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = __('Available needles') %}
                <li role="presentation">
                    <a id="needlesTab" href="#tabNeedles" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
                </li>
            </ul>

            {{ form_errors(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledby="vars1Tab">
                    {% set tabTitle = __('General settings') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                        <p class="alert alert-info">{{ __('Here you can manage all basic settings for this application.') }}</p>
                    
                        {{ form_row(form.showEditLink) }}
                        {{ form_row(form.replaceOnlyFirstInstanceOfItems) }}
                        {{ form_row(form.applyReplacementsToCodeTags) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="vars2Tab">
                    {% set tabTitle = __('Abbreviations and acronyms') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                    
                        {{ form_row(form.replaceAbbreviations) }}
                        {{ form_row(form.replaceAcronyms) }}
                        {{ form_row(form.replaceAbbreviationsWithLongText) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab3" aria-labelledby="vars3Tab">
                    {% set tabTitle = __('Automatic links') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                    
                        {{ form_row(form.replaceLinks) }}
                        {{ form_row(form.replaceLinksWithTitle) }}
                        {{ form_row(form.cssClassForExternalLinks) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab4" aria-labelledby="vars4Tab">
                    {% set tabTitle = __('Censor') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                    
                        {{ form_row(form.replaceCensoredWords) }}
                        {{ form_row(form.replaceCensoredWordsWhenTheyArePartOfOtherWords) }}
                        {{ form_row(form.doNotCensorFirstAndLastLetterInWordsWithMoreThanTwoChars) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab5" aria-labelledby="vars5Tab">
                    {% set tabTitle = __('Needles') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                    
                        {{ form_row(form.replaceNeedles) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab6" aria-labelledby="vars6Tab">
                    {% set tabTitle = __('List views') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                        <p class="alert alert-info">{{ __('Here you can configure parameters for list views.')|nl2br }}</p>
                    
                        {{ form_row(form.entryEntriesPerPage) }}
                        {{ form_row(form.showOnlyOwnEntries) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab7" aria-labelledby="vars7Tab">
                    {% set tabTitle = __('Moderation') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                        <p class="alert alert-info">{{ __('Here you can define moderation-related settings.')|nl2br }}</p>
                    
                        {{ form_row(form.allowModerationSpecificCreatorForEntry) }}
                        {{ form_row(form.allowModerationSpecificCreationDateForEntry) }}
                    </fieldset>
                </div>
                {#<div role="tabpanel" class="tab-pane fade" id="tabWorkflows" aria-labelledby="workflowsTab">
                    {% set tabTitle = __('Workflows') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        <p class="alert alert-info">{{ __('Here you can inspect and amend the existing workflows.') }}</p>
                
                        <h4>{{ __('Entries') }}</h4>
                        <p><a href="{{ path('zikula_workflow_editor_index', {workflow: 'zikulamultihookmodule_none'}) }}" title="{{ __('Edit workflow for entries') }}" target="_blank"><i class="fa fa-cubes"></i> {{ __('Edit entries workflow') }}</a>
                    </fieldset>
                </div>#}
                <div role="tabpanel" class="tab-pane fade" id="tabEntryProviders" aria-labelledby="entryProvidersTab">
                    {% set tabTitle = __('Available entry providers') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{{ __('MultiHook allows other bundles/modules to provide additional entries. The following list shows which entry providers are available at your installation.') }}</p>
                        {% set allEntryProviders = zikulamultihookmodule_getEntryProviders(true) %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <colgroup>
                                    <col id="cBundle" />
                                    <col id="cTitle" />
                                    <col id="cActive" />
                                    <col id="cDescription" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th id="hBundle" scope="col">{{ __('Bundle') }}</th>
                                        <th id="hTitle" scope="col">{{ __('Title') }}</th>
                                        <th id="hActive" scope="col">{{ __('Active') }}</th>
                                        <th id="hDescription" scope="col">{{ __('Description') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for provider in allEntryProviders %}
                                    {% set providerName = provider.name|default('provider' ~ loop.index) %}
                                    <tr>
                                        <td headers="h{{ providerName }} hBundle">{{ provider.bundleName|default('-') }}</td>
                                        <th id="h{{ providerName }}" scope="row" headers="hTitle" class="nowrap">
                                            <i class="fa fa-fw fa-{{ provider.icon|e('html_attr') }}"></i> {{ provider.title|default('-') }}
                                        </th>
                                        <td headers="h{{ providerName }} hActive" class="text-center text-{% if provider.active|default(false) %}success{% else %}danger{% endif %}">
                                            {% if provider.active|default(false) %}
                                                <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                                            {% else %}
                                                <i class="fa fa-times" title="{{ __('No') }}"></i>
                                            {% endif %}
                                        </td>
                                        <td headers="h{{ providerName }} hDescription">
                                            {{ provider.description|default('-') }}
                                            {% if provider.adminInfo|default %}<br /><span class="label label-default">{{ provider.adminInfo }}</span>{% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabNeedles" aria-labelledby="needlesTab">
                    {% set tabTitle = __('Available needles') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                        <p class="alert alert-info">{{ __('A needle is a quick way to insert a link from one piece of your content to another piece of your content. MultiHook already includes some common needles but also allows other bundles/modules to provide additional needles. The following list shows which needles are available at your installation.') }}</p>
                        {% set allNeedles = zikulamultihookmodule_getNeedles(true) %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <colgroup>
                                    <col id="cBundle" />
                                    <col id="cTitle" />
                                    <col id="cActive" />
                                    <col id="cDescription" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th id="hBundle" scope="col">{{ __('Bundle') }}</th>
                                        <th id="hTitle" scope="col">{{ __('Title') }}</th>
                                        <th id="hActive" scope="col">{{ __('Active') }}</th>
                                        <th id="hDescription" scope="col">{{ __('Description') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for needle in allNeedles %}
                                    {% set needleName = needle.name|default('needle' ~ loop.index) %}
                                    <tr>
                                        <td headers="h{{ needleName }} hBundle">{{ needle.bundleName|default('-') }}</td>
                                        <th id="h{{ needleName }}" scope="row" headers="hTitle" class="nowrap">
                                            <i class="fa fa-fw fa-{{ needle.icon|e('html_attr') }}"></i> {{ needle.title|default('-') }}
                                        </th>
                                        <td headers="h{{ needleName }} hActive" class="text-center text-{% if needle.active|default(false) %}success{% else %}danger{% endif %}">
                                            {% if needle.active|default(false) %}
                                                <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                                            {% else %}
                                                <i class="fa fa-times" title="{{ __('No') }}"></i>
                                            {% endif %}
                                        </td>
                                        <td headers="h{{ needleName }} hDescription">
                                            {{ needle.description|default('-') }}
                                            {% if needle.adminInfo|default %}<br /><span class="label label-default">{{ needle.adminInfo }}</span>{% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group form-buttons">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaMultiHookModule:js/ZikulaMultiHookModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaMultiHookModule:js/ZikulaMultiHookModule.EditFunctions.js'), 99) }}
    {% set formInitScript %}
        <script>
        /* <![CDATA[ */
            ( function($) {
                $(document).ready(function() {
                    zikulaMultiHookInitEditForm('edit', '1');
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
