{# purpose of this template: entries list view #}
{% extends routeArea == 'admin' ? '@ZikulaMultiHookModule/adminBase.html.twig' : '@ZikulaMultiHookModule/base.html.twig' %}
{% block title own ? 'My entries'|trans : 'Entries list'|trans %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
    <div class="zikulamultihookmodule-entry zikulamultihookmodule-view">
        {% set viewActions = knp_menu_get('zikulaMultiHookMenuViewActions', [], {objectType: 'entry', area: routeArea}) %}
        {{ knp_menu_render(viewActions, {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}
        
        {{ include('@ZikulaMultiHookModule/Entry/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}

        {% if routeArea == 'admin' %}
        <form action="{{ path('zikulamultihookmodule_entry_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="entriesViewForm">
            <div>
        {% endif %}
            <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
                <colgroup>
                    {% if routeArea == 'admin' %}
                        <col id="cSelect" />
                    {% endif %}
                    <col id="cItemActionsStart" />
                    <col id="cShortForm" />
                    <col id="cLongForm" />
                    <col id="cTitle" />
                    <col id="cEntryType" />
                    <col id="cActive" />
                </colgroup>
                <thead>
                <tr>
                    {% if routeArea == 'admin' %}
                        <th id="hSelect" scope="col" class="text-center">
                            <input type="checkbox" class="zikulamultihook-mass-toggle" />
                        </th>
                    {% endif %}
                    <th id="hItemActionsStart" scope="col" class="">{% trans %}Actions{% endtrans %}</th>
                    <th id="hShortForm" scope="col" class="text-left">
                        <a href="{{ sort.shortForm.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'short form'})|e('html_attr') }}" class="{{ sort.shortForm.class }}">{% trans %}Short form{% endtrans %}</a>
                    </th>
                    <th id="hLongForm" scope="col" class="text-left">
                        <a href="{{ sort.longForm.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'long form'})|e('html_attr') }}" class="{{ sort.longForm.class }}">{% trans %}Long form{% endtrans %}</a>
                    </th>
                    <th id="hTitle" scope="col" class="text-left">
                        <a href="{{ sort.title.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'title'})|e('html_attr') }}" class="{{ sort.title.class }}">{% trans %}Title{% endtrans %}</a>
                    </th>
                    <th id="hEntryType" scope="col" class="text-left">
                        <a href="{{ sort.entryType.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'entry type'})|e('html_attr') }}" class="{{ sort.entryType.class }}">{% trans %}Entry type{% endtrans %}</a>
                    </th>
                    <th id="hActive" scope="col" class="text-center">
                        <a href="{{ sort.active.url }}" title="{{ 'Sort by %fieldName%'|trans({'%fieldName%': 'active'})|e('html_attr') }}" class="{{ sort.active.class }}">{% trans %}Active{% endtrans %}</a>
                    </th>
                </tr>
                </thead>
                <tbody>
            
            {% for entry in items %}
                <tr>
                    {% if routeArea == 'admin' %}
                        <td headers="hSelect" class="text-center">
                            <input type="checkbox" name="items[]" value="{{ entry.getKey() }}" class="zikulamultihook-toggle-checkbox" />
                        </td>
                    {% endif %}
                    <td id="itemActions{{ entry.getKey() }}Start" headers="hItemActionsStart" class="actions">
                        {% set itemActions = knp_menu_get('zikulaMultiHookMenuItemActions', [], {entity: entry, area: routeArea, context: 'view'}) %}
                        <div class="dropdown item-actions">
                            <a id="itemActions{{ entry.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" href="javascript:void(0);" class="d-none dropdown-toggle"><i class="fa fa-tasks"></i></a>
                            {{ knp_menu_render(itemActions, {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}
                        </div>
                    </td>
                    <td headers="hShortForm" class="text-left">
                        {{ entry.shortForm }}
                    </td>
                    <td headers="hLongForm" class="text-left">
                        {{ entry.longForm }}
                    </td>
                    <td headers="hTitle" class="text-left">
                        {{ entry.title|notifyFilters('zikulamultihookmodule.filterhook.entries')|safeHtml }}
                    </td>
                    <td headers="hEntryType" class="text-left">
                        {{ entry.entryType|zikulamultihookmodule_listEntry('entry', 'entryType') }}
                    </td>
                    <td headers="hActive" class="text-center">
                        {% set itemId = entry.getKey() %}
                        <a id="toggleActive{{ itemId|e('html_attr') }}" href="javascript:void(0);" class="zikulamultihook-ajax-toggle d-none" data-object-type="entry" data-field-name="active" data-item-id="{{ itemId|e('html_attr') }}">
                            <i class="fa fa-check text-success{% if not entry.active %} d-none{% endif %}" id="yesActive{{ itemId|e('html_attr') }}" title="{{ 'This setting is enabled. Click here to disable it.'|trans|e('html_attr') }}"></i>
                            <i class="fa fa-times text-danger{% if entry.active %} d-none{% endif %}" id="noActive{{ itemId|e('html_attr') }}" title="{{ 'This setting is disabled. Click here to enable it.'|trans|e('html_attr') }}"></i>
                        </a>
                        <noscript><div id="noscriptActive{{ itemId|e('html_attr') }}">
                            {% if entry.active %}
                                <i class="fa fa-check text-success" title="{{ 'Yes'|trans|e('html_attr') }}"></i>
                            {% else %}
                                <i class="fa fa-times text-danger" title="{{ 'No'|trans|e('html_attr') }}"></i>
                            {% endif %}
                        </div></noscript>
                    </td>
                </tr>
            {% else %}
                <tr class="table-info">
                    <td colspan="{% if routeArea == 'admin' %}7{% else %}6{% endif %}" class="text-center">
                {% trans %}No entries found.{% endtrans %}
                  </td>
                </tr>
            {% endfor %}
            
                </tbody>
            </table>
            </div>
            
            {% if all != 1 and pager|default %}
                {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'zikulamultihookmodule_entry_' ~ routeArea ~ 'view'}) }}
            {% endif %}
        {% if routeArea == 'admin' %}
                <fieldset class="my-3 pt-3">
                    <div class="row">
                        <label for="zikulaMultiHookModuleAction" class="col-md-3 col-form-label">{% trans %}With selected entries{% endtrans %}</label>
                        <div class="col-md-6">
                            <select id="zikulaMultiHookModuleAction" name="action" class="form-control form-control-sm">
                                <option value="">{% trans %}Choose action{% endtrans %}</option>
                                <option value="delete" title="{{ 'Delete content permanently.'|trans|e('html_attr') }}">{% trans %}Delete{% endtrans %}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="submit" value="{{ 'Submit'|trans|e('html_attr') }}" class="btn btn-secondary btn-sm" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
        {% endif %}

        {{ block('display_hooks') }}
    </div>
{% endblock %}
{% block display_hooks %}
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='zikulamultihookmodule.ui_hooks.entries.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
